body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.bot-fixed {
    position: fixed;
    top: 89%;
    left: 84%;
}

.form {
    position: absolute;
    top: 57px;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.form-footer {
    padding: 5px;
    text-align: right;
}

#notas {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#formNota form {
    text-align: center;
}

.nota {
    height: 25%;
    padding: 10px;
}

.nota h3 {
    color: #FFF;
}

.desplazar {
    margin-left: -50%;
    transition: all 1s ease-in-out 1s;
}

.color {
    display: block;
    width: 32px;
    height: 32px;
}

.prioridad {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5px;
    height: 100%;
}

.red {
    background-color: #C62828;
}

.pink {
    background-color: #AD1457;
}

.grey {
    background-color: #424242;
}

.blue {
    background-color: #0277BD;
}

.green {
    background-color: #558B2F;
}